/VetoresFloat/build/
/NumeroOcorrencias/nbproject/private/
/NumeroOcorrencias/build/
/VetorXinicia/nbproject/private/
/VetorXinicia/build/
/VetorInverso/nbproject/private/
/VetorInverso/build/
/VetorSalFun/nbproject/private/
/VetorSalFun/build/
/Aula/nbproject/private/
/Aula/build/
/AulaDois/nbproject/private/
/AulaDois/build/